.boxDetails {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  right: 100%;
  left: 0;
  background-color:#3f51b5;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  border-radius: 4px
}



.boxDetails:hover .overlay {
  width: 100%;
  right: 0;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.boxDetails{
    height:200px;
    display:flex;
    justify-content:center;
    align-items:center ;
    background-image: url('https://images.pexels.com/photos/273222/pexels-photo-273222.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    color: white !important;
}
.links{
  text-decoration: none
}