.body{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center ;
    background-image: url('https://mcdn.wallpapersafari.com/medium/37/64/NJXPGr.png');
    background-position: center;
    background-size: 101% 101%;
}
.inputSize{
    width:100%;
    margin-top:5px!important
}
.heading{
    text-align: center;
    margin:0px;
    color:#f50057;
}
.btnGroup{
    width: 100%;
    text-align: center;
    margin-top:30px
}
.loading{
    width:100%;
    margin: 0px;
    padding: 0px
}
.contain{
    width:900px
}
.leftImage{
   background-image: url('https://images.pexels.com/photos/1496186/pexels-photo-1496186.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
   background-position: center;
   background-size: cover

}
.form{
    padding:20px;
    background-color: whitesmoke
}
.button{
    margin:10px!important
}
.link{
    text-align: center
}
.link a {
    text-decoration: none
}
.link a:hover {
   text-decoration: underline;
   color:#f50057
}