.Loginbody{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center ;
    background-image: url('https://mcdn.wallpapersafari.com/medium/37/64/NJXPGr.png');
    background-position: center;
    background-size: 101% 101%;
}
.box{
  width:350px!important;
  padding:20px
}
.loginForm{
    padding:20px 30px;
    background-color: whitesmoke
}
.btnGrup{
  width: 100%;
  text-align: center;
  margin-top:10px
}
